* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: rgb(196, 255, 255);
  height: 100%;
  width: 100%;
}

.lakes-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.line-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.wave {
  width: 1px;
  background-color: black;
}

.line-2 {
  margin-top: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

.stationCircle {
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(28, 127, 0);
}

.station-name {
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.infoDivRight {
  position: absolute;
  bottom: 100px;
  right: 1px;
  margin-top: 0;
  height: 150px;
  width: 600px;
  background-color: red;
  border-radius: 10px;
}

.infoDivLeft {
  position: absolute;
  margin-top: 0;
  top: 100px;
  height: 150px;
  width: 600px;
  background-color: red;
  border-radius: 10px;
}

.station-image {
  height: 60%;
  width: 60%;
}
