body {
  margin: 0px;
  padding: 0px;
  color: white;
  position: relative;
  overflow-x: hidden;
  background-color: chocolate;
}
html {
  scroll-behavior: smooth;
}
h2 {
  padding: 0px;
  margin: 0px;
}
#header {
  background-color: chocolate;
  height: 100vh;
  width: 100vw;
}
#content {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
#blåhaj {
  background-color: pink;
  height: 100vh;
  width: 100vw;
}
#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
#nav-container {
  position: absolute;
  right: 0vw;
  top: 65vh;
  font-size: larger;
  z-index: 3;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-item {
  display: flex;
  flex-direction: column;
  min-width: 7vw;
}
.nav-item > a:hover {
  color: white !important;
  font-weight: bold;
  transition: 100ms ease;
}
.nav-item > a {
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-size: larger;
  transition: 400ms ease;
}
.nav-item > div {
  background-color: green;
  height: 2.5px;
  width: 105%;
  border-radius: 5px;
}
.active {
  padding-right: 1vw;
  font-size: xx-large !important;
  color: white !important;
  font-weight: bold;
  transition: 300ms ease-out;
}
