* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", "sans-serif";
  --ltblue: #d7f2fa;
  --ltgreen: #9fe2bf;
  --darkgreen: #2e8b57;
  --turquoise: #20b2aa;
  --black: #000000;
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background-color: var(--ltblue);
  color: var(--black);
}
section {
  min-height: 100vh;
  width: 100vw;
}
.bubbleContainer {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.bubble {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #b0d6e1;
}

.bubbleContainer :nth-child(2) {
  background-color: #b0d6e1;
  margin-left: 60px;
  scale: 0.6;
}

#introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introContainer p {
  padding: 1.5rem 3rem 1.5rem 3rem;
  text-align: center;
}
#introContainer > * {
  padding: 1rem 1rem 0rem;
  font-size: 20px;
  width: fit-content;
}
#introContainer > h1 {
  font-size: 30px;
  text-align: center;
}
#btnContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 0px;
  padding-bottom: 10px;
}
#btnContainer > * {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  width: 37%;
  padding: 10px 0px 10px;
  background-color: var(--turquoise);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
#btnContainer :nth-child(2) {
  background-color: var(--darkgreen) !important;
}
#btnContainer > *:hover,
:focus {
  background-color: white !important;
  color: black !important;
}
#animationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.placeholder-svg {
  display: block;
}
#animationContainer p {
  text-align: center;
  font-size: 20px;
  padding: 0px 3rem 0px;
}
#next-container {
  position: relative;
}
#nextBtn {
  position: relative;
  border-radius: 50%;
  background-color: var(--darkgreen);
  height: 6rem;
  width: 6rem;
}
.arrow {
  background-color: #000000;
  width: 10vw;
  height: 10vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  bottom: 0;
  margin: auto;
  clip-path: polygon(48% 100%, 0 0, 100% 0);
}

/* read more button */
.readMoreState {
  display: none;
}
.readMoreTarget {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}
.readMoreState:checked ~ .readMoreWrap .readMoreTarget {
  opacity: 1;
  font-size: inherit;
  max-height: 990em;
}
.readMoreTrigger::before {
  content: "Read more";
}

.readMoreState:checked ~ .readMoreTrigger::before {
  content: "Show less";
}

/* Water tap with drop animation. */
/* .animate-water {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 650px;
}

.water-tap {
  width: 300px;
}

.water-drop {
  width: 60px;
  animation: drip 800ms ease-out infinite;
  align-self: flex-end;
} */

.animate-water {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 280px;
  margin-top: 20px;
}

.water-tap {
  width: 100%;
}

.water-drop {
  width: 15%;
  animation: drip 800ms ease-out infinite;
  align-self: flex-end;
}

@keyframes drip {
  25% {
    transform: scale(1, 1);
  }
  50% {
    margin-top: 75px;
    transform: scale(2, 0.1);
  }
  100% {
    margin-top: 75px;
    transform: scale(2, 0.01);
  }
}
/* desktop media querrys */
@media (min-width: 600px) {
  #sectionOne {
    display: grid;
    grid-template-columns: 2;
  }
  #animationContainer {
    grid-column: 2;
  }
}
