* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: rgb(196, 255, 255);
  height: 100%;
  width: 100%;
}

.lakes-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.line-1,
.line-2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.line-2 {
  margin-top: 150px;
}

.wave {
  width: 1px;
  background-color: black;
}

.wrapperDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.stationCircle {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(28, 127, 0);
  border: solid 6px rgb(133, 217, 110);
  cursor: pointer;
}

.station-name {
  text-align: center;
}

/* .infoDivRight {
  display: none;
} */

.hidden {
  display: none;
}

.active {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  width: 80%;
  height: 500px;
  top: min(25%);
  left: 0;
  right: 0;
  margin: auto;
  background-color: red;
  border-radius: 10px;
}

/* .infoDivLeft {
  display: none;
} */

.station-image {
  height: 60%;
  width: 60%;
}

/* Animation for stations on click. */
@keyframes spinAnimation {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.1, 1);
    transform: scaleX(-1);
  }
  100% {
    transform: scale(1, 1);
    transform: scaleX(1);
  }
}

.animate {
  animation: spinAnimation 750ms ease-in-out;
}
