* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  margin: 0px;
  padding: 0px;
}

.circle-bot {
  background-color: rgb(168, 87, 87);
  height: 491px;
  width: 491px;
  border-radius: 50%;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
}
.circle-top {
  background-color: rgb(168, 87, 87);
  height: 491px;
  width: 491px;
  border-radius: 50%;
  border-top: 4px solid black;
}

.view {
  height: 982px;
  width: 100%;
  background-color: rgb(168, 87, 87);
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.box {
  /* position: relative; */
  background-color: aqua;
  width: 5000px;
  height: 980px;
  --mask: radial-gradient(
        486.58px at 50% calc(100% + 302.4px),
        #0000 calc(99% - 5px),
        #000 calc(101% - 5px) 99%,
        #0000 101%
      )
      calc(50% - 756px) calc(50% - 191.5px + 0.5px) / 1512px 383px repeat-x,
    radial-gradient(
        486.58px at 50% -302.4px,
        #0000 calc(99% - 5px),
        #000 calc(101% - 5px) 99%,
        #0000 101%
      )
      50% calc(50% + 191.5px) / 1512px 383px repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
section {
  display: flex;
  justify-content: center;
}
.wrapper {
  position: relative;
  /* display: flex;
  flex-direction: row; */
  white-space: nowrap;
}

.container {
  overflow: auto;
  width: 80%;
  display: flex;
}

.tester {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: black;
  z-index: 20;
  left: 500px;
  top: 150px;
}
